//break points
$tablet-braking-point: 768px;
$desktop-braking-point: 1280px;

// primary colors 
$brainflix-black:#323232;
$brainflix-blue:#0095FF;
$silver:#AFAFAF;
$white:#ffffff;

// secondary colors 
$brainflix-dark-black:#000000;
$brainflix-darkblue:#0065AD;
$mercury:#E1E1E1;
$Alabaster:#FAFAFA;


//margins
$margins-in-mobile: 16px;
$margins-in-tablet: 36px;



//padding-tablet-desktop
$padding-before-header-tab-desktop: 36px;
$padding-after-header-tab-desktop: 24px;
$padding-between-contant-tab-desktop: 24px ;

//padding-mobile
$padding-before-header: 24px;
$padding-after-header: 16px ;
$padding-between-contant: 16px ;