@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.video-player {
    background-color: $brainflix-dark-black;
    width: 100%;
    display: flex;
    justify-content: center;

    @include desktop {
        margin: 0rem auto;
    }

    &__video {
        width: 100%;
        aspect-ratio: 16/9;
        @include tablet {
            max-height: 24.68rem;
        }

        @include desktop {
            max-height: 30rem;
        }
    }
}
