@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.comment-section {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $mercury;
    width: 100%;
    padding: $padding-between-contant 0rem;

    @include tablet {
        padding: 2rem 0rem;
        width: 100%;
    }

    @include desktop {
        padding-right: 1rem;
    }
}

.avatar {
    width: 20%;
    @include tablet {
        width: 10%;
    }

    &__image {
        border-radius: 50%;
        background-color: $mercury;
        width: 2.25rem;
        height: 2.25rem;
        margin-right: 1rem;
    }
}


.comment-inputs{
    display: flex;
    flex-direction: column;
    width: 80%;

    @include tablet {
        width: 92%;
    }
}

.comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: $padding-between-contant;

    @include tablet {
        padding-bottom: 0.5rem;
    }
    
    &__name {
        @include subheader-mobile;
        font-size: 0.9rem;
        color: $brainflix-black;
    }
    
    &__date {
        @include body-copy-mobile;
        font-size: 0.9rem;
        color: $silver;
    }
}

