@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;

.main-page {
    @include desktop {
        max-width: 1020px;
        margin-inline: auto;
        display: flex;
        width: 100%;
    }
    
    &__left {
        @include desktop {
            width: 60%;
        }
    }
    
    &__right {
        @include desktop {
            width: 40%;
        }
    }
}

